#text
{
	width: 100%;
	height: 88vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

#text div
{
	width: 40vw;
	border-radius: 2.7vh;
	height: 20vh;
	margin: 3vh 5vw;
	background-color: var(--accent);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}


#text p
{
	font-size: 1.2em;
	font-family: 'Matematica';
	padding-left: 3vw;
}

#text span
{
	font-size: 3.5em;
	font-family: 'Daisyogre';
	text-align: center;
}
